#am2-chrome-timetracking-app {
    width: 420px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2147483647;
    background-color: white;
}
#am2-chrome-timetracking-app iframe {
    width: 100%;
    height: 100%;
    border: none;
}
